<%- include('./partials/head') %>
  <section class="site-title">
    <section class="title">
      <h1>FDND <span>
          <%= squad.name %>
        </span> landings pagina</h1>
    </section>
    <section class="filter">
      <p>Kies je squad</p>
      <ul>
        <li><a href="/?squad=squad-a-2022" <% if(squad.slug=="squad-a-2022" ) {%> class="active"<%}%> >Squad A</a></li>
        <li><a href="/?squad=squad-b-2022" <% if(squad.slug=="squad-b-2022" ) {%> class="active"<%}%> >Squad B</a></li>
        <li><a href="/?squad=squat-c-2022" <% if(squad.slug=="squat-c-2022" ) {%> class="active"<%}%> >Squad C</a></li>
      </ul>
    </section>
  </section>
  <section class="squad">
    <% const colors=[ '#ed7300' , '#911833' , '#d9e021' , '#00a99d' , '#0200a9' , '#00e019' , ] %>

      <% squad.members.forEach(member=> { %>
        <button data-id="<%= member.id %>" class="member card-trigger"
          style="--size:<%= member.githubRepositories %>;--bg-color:<%= colors[Math.floor(Math.random() * colors.length)] %>">

          <% if (member.avatar) { %>
            <div class="name">
            <img src="<%= member.avatar %>"
              alt="De avatar van <%= member.name %> <%= member.preflex %><%= member.surname %>" />
            <% } else { %>
              <img src="./links/avatar-placeholder.png" alt="placeholder avatar" />
              <% } %>

              <p><%= member.name %></p>
            </div>

        </button>


        <dialog class="card" id="<%= member.id %>">
          <div class="inline">

            <div class="card-intro">
              <% if (member.avatar) { %>
                <img src="<%= member.avatar %>"
                  alt="De avatar van <%= member.name + ' ' + member.prefix + ' ' + member.surname %>" />
                <% } else { %>
                  <img src="./links/avatar-placeholder.png" alt="placeholder avatar" />
                  <% } %>
                    <h1>
                      <%= member.name + ' ' + member.prefix + ' ' + member.surname %>
                    </h1>
                    <p>nickname: <% if (member.nickname) { %>
                        <%- member.nickname %>
                          <% } %>
                    </p>
            </div>

            <div class="card-switch">
              <div class="content">
                <div class="contact-info">
                  <h2>Contact</h2>
                  <% if (member.gitHubHandle) { %>
                    <a href="<%= member.gitHubHandle %>">Github</a>
                    <% } %>
                      <% if (member.gitHubHandle) { %>
                        <a href="<%= member.website %>">website</a>
                        <% } %>
                </div>
                <hr>
                <h2>Bio</h2>
                <p>
                  <% if (member.bio) { %>
                    <%- member.bio.html %>
                      <% } else { %>
                        This person does not have a bio ;(
                        <% } %>
                </p>
              </div>
            </div>
            <button class="close" value="cancel">sluiten</button>

          </div>
        </dialog>
        <% }) %>
  </section>





  <%- include('./partials/foot') %>